.background{
	width:100%;
	height:700px;
}

.texto-entrada{
	position:absolute;
	left:45%;
	bottom:50%;
	border:solid black 1px;
	background-color:#212529;
}

.btn-criptografar{
	position:absolute;
	left:49%;
	bottom:43%;
	border:solid black 1px;
}

.texto-saida{
	position:absolute;
	left:45%;
	bottom:30%;
	border:solid black 1px;
	background-color:#212529;
}

.btn-descriptografar{
	position:absolute;
	left:48%;
	bottom:23%;
	border:solid black 1px;
}

.public-key{
	position:absolute;
	left:63%;
	bottom:52%;
	border:solid black 1px;
	background-color:#212529;
}

.private-key{
	position:absolute;
	left:63%;
	bottom:32%;
	border:solid black 1px;
	background-color:#212529;
}

.mensagem-erro{
	position:absolute;
	left:45%;
	bottom:59%;
	border:solid black 1px;
	background-color:lightcoral;
}